{% extends "layout.html.j2" %}
{% block title %}Main Page{% endblock %}

{% block profile_links %}
{{ url_for("logout") }}
{% endblock %}

{% block content %}

  <h1>Main Menu</h1>

<ul>
<li><a href="{{ url_for('project_list') }}">Projects</a></li>
</ul>


{% endblock %}
