{% extends "layout.html.j2" %}
{% block title %}Issues List For Project {{ projectid }}{% endblock %}


{% block content %}

  <h1>Issues List For Project {{ projectid }}</h1>
  <div class="issueslist">
  <ul>
  {% for issue in issues %}
  <li>{{ issue.ref }} - {{ issue.subject }}
  {%- if issue.depends_on -%}
  , depdendencies: {{ issue.depends_on | default('no dependencies')}}
  {% endif %}
  </li>
  {% endfor %}
  </ul>  
  </div>

{% endblock %}
