<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title -%} Hello Bulma! {%- endblock %}</title>
    <link rel="stylesheet" href="/static/css/bulma.css">
    {% endblock %}
  </head>
  <body>
    {% block body %}
  <section class="section">
    {% block profile_links %}
    <div class="profile_links">{{ profile_links }}
    {% endblock %}
    <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}
    {% block content %}
      <h1 class="title">
        Hello World
      </h1>
      <p class="subtitle">
        My first website with <strong>Bulma</strong>!
      </p>
      {% endblock %}
      {% block debug_message %}
      {% if debug_message %}
      <hr />
      Debug output:<br />
      <hr />
      {{ debug_message | default('') }}
      <hr />
      {% endif %}
      {% endblock %}
    </div>
  </section>
  {% endblock %}
  </body>
</html>
