{% extends "layout.html.j2" %}
{% block title %}Project List{% endblock %}


{% block content %}

  <h1>Project List</h1>
  <div class="projectlist">
  <ul>
  {% for proj in projects %}
  <li><a href="{{ proj.issue_url }}"> See Issues for {{ proj.id }} - {{ proj.name }}</a></li>
  {% endfor %}
  </ul>  
  </div>

{% endblock %}
