{% extends "layout.html.j2" %}
{% block title %}Project List{% endblock %}


{% block content %}

  <h1>Project List</h1>
  <div class="projectlist">
  <ul>
  {% for proj in projects %}
  <li>{{ proj.id }} - {{ proj.name }}<br />
  <a href="{{ proj.sprint_url }}">Sprints</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="{{ proj.issue_url }}">Issues</a></li>
  {% endfor %}
  </ul>  
  </div>

{% endblock %}
