{% extends "layout.html.j2" %}
{% block title %}Project {{ pid }}: Sprint Stats{% endblock %}


{% block content %}

<h1>Project {{ pid }}: Sprint Stats</h1>
  <div class="backlink">
  <a href="{{ url_for('project_list') }}">Back to Project List</a>
  </div>
<div class="sprintlist">
  <table>
    {% for sprint in sprints %}
    {{ sprint.sprintname }}, {{ sprint.points }}<hr />
    {% endfor %}
  </table>
  {{ stats }}
</div>

{% endblock %}
